# note: this file is a list of all libraries required, but uv installation is recommended!

accelerate
#autoawq # for the AWQ models --> no longer mainteined, adopted by llm-compressor
bitsandbytes # for quantizing the model
datasets # hugging face datasets
faiss-cpu # database for RAG
#faiss-gpu
gemlite
gptqmodel
huggingface-hub
human-eval # humaneval benchmark
intel-extension-for-pytorch # for awq
langchain # implementing RAG
langchain-community
langchain-huggingface
langchain-text-splitters
llama-cpp-python
llmcompressor # for quantizing the model
lm-eval # for evaluating multiple benchmarks
matplotlib
numpy
optimum # for gptq models
pip
pyyaml # for the config file
sentence-transformers
sentencepiece
sinq # for quantizing the model
tiktoken
torch
transformers
#vllm # requires cuda to be installed