torch
matplotlib
langchain-huggingface
transformers
langchain
langchain-community
langchain-text-splitters
huggingface_hub
faiss-cpu
#faiss-gpu
sentence-transformers
#accelerate
bitsandbytes # for the quantized files
#optimum

pyyaml # for the config file


#networkx # general purpose
#PyCG # static call graph
#graphviz # general?
#pycallgraph2 # for exact runtime call